################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assets/Oculus
/Assets/Resources
/Assets/TextMesh Pro
/Assets/XR
/Logs
/obj/Debug
/Packages
/Temp
